/.DS_Store
/.RData
/.Rapp.history
/.Rhistory
/.localized
/01. Practice Exercise - Double Dipping - Blank.xlsx
/02. Practice Exercise - Nairobi - Blank.xlsx
/03. Practice Exercise - Cairo - Blank.xlsx
/05. Different Balance Sheet Layouts.xlsx
/090110combined_gis_notes.pdf
/1*s986xIGqhfsN8U--09_AdA.png
/1-s2.0-S0013935116300172-main.pdf
/1-s2.0-S0013935121006198-main.pdf
/1-s2.0-S0047272722001141-main.pdf
/1-s2.0-S0048969721025699-main.pdf
/1-s2.0-S0048969723062526-main.pdf
/1-s2.0-S0049089X21001046-main.pdf
/1-s2.0-S0095069614001016-main-2.pdf
/1-s2.0-S0095069614001016-main.pdf
/1-s2.0-S0160412021003214-main.pdf
/1-s2.0-S0272775716303703-main.pdf
/1-s2.0-S027277571830503X-main-2.pdf
/1-s2.0-S027277571830503X-main.pdf
/1-s2.0-S0360132320301074-main.pdf
/1-s2.0-S0360132321004558-main.pdf
/1-s2.0-S135223102200190X-main.pdf
/1000.pdf
/10EconometricTheorems.pdf
/11100044-eng
/11100044-eng.zip
/11100044-fra
/11100044-fra.zip
/11100133-eng
/11100191-eng
/11100191-eng.zip
/11100191-fra.zip
/1310041401-eng-2.csv
/1310041401-eng-3.csv
/1310041401-eng-4.csv
/1310041401-eng.csv
/1310041701-eng-2.csv
/1310041701-eng.csv
/1310041801-eng-2.csv
/1310041801-eng.csv
/14100081-eng
/1410030601-eng-2.csv
/1410030601-eng-3.csv
/1410030601-eng-4.csv
/1410030601-eng-5.csv
/1410030601-eng.csv
/1410034201-eng (1).csv
/1410034201-eng.csv
/15_14.pdf
/1804.02499v5-2.pdf
/1804.02499v5.pdf
/1810000401-eng.csv
/1810000402-eng-2.csv
/1810000402-eng.csv
/1810000413-eng-2.csv
/1810000413-eng.csv
/1_Setup-2.do
/1_Setup.do
/2019
/2021
/2021%20Census%20Individuals%20PUMF%20User%20Guide_v2.pdf
/2021_Budget and Fiscal Plan.pdf
/2024-01-CSV
/2024-02-CSV
/2024-03-CSV
/2025-01-06_TA Form_Economics.pdf
/2_TWFE.do
/2a3469b5-eae7-49f1-82fb-68fcb8cf8514.xls
/3-MID09F-255B-Answer.pdf
/3-Statement - Qualified Assessment (Template)(1).xlsx
/3-Statement - Qualified Assessment (Template).xlsx
/3-Statement Model (Complete).xlsx
/3-Statement Modeling Qualified Assessment Support (Blank).xlsx
/3710025901-eng.csv
/39100054-eng
/4-MID09W-255-Answer.pdf
/4210003101-eng.csv
/6-FIN08W_255_Answer.pdf
/66aa4efb234eedefcd3c9e9f.pdf
/7-FIN09F_255_Answer(1) (1).pdf
/7-FIN09F_255_Answer(1).pdf
/7-FIN09F_255_Answer(2).pdf
/71f0031x2023001-eng.pdf
/8-FIN09W_255_Answer (1).pdf
/8-FIN09W_255_Answer.pdf
/815PIH.pdf
/815cons2.pdf
/840A2.pdf
/840Ass1.docx
/840RefRep2.pdf
/840_Ref_Rep_#1.pdf
/852 Assignment3.pdf
/852 Tutorials
/852Ass1.code-profile
/852Ass1.md
/852Ass1_files
/852_Tut_3.ipynb
/852_notes.ipynb
/852f23_quantile_code_nov29.do
/882_Tutorial_1.ipynb
/9298_000.pdf
/978-3-031-37310-7.pdf
/978-3-319-32358-9.pdf
/9781589065147-ch003.pdf
/AF1QipNhlMP7te5VuXlhy2GExbcfu8toTDnrLuTXZC84.html
/ATL_coordinates.csv
/A_2 (1).pdf
/A_2 (2).pdf
/A_2 (3).pdf
/A_2 (4).pdf
/A_2.pdf
/A_freighted_question.pdf
/Air Quality and Student Outcomes.docx
/Articles in Zotero
/Ass1.do
/Ass1.docx
/Ass4Q7B.do
/Assignment 3 (1).pdf
/Assignment 3 (2).pdf
/Assignment 3.pdf
/Assignment 4 (1).pdf
/Assignment 4 (2).pdf
/Assignment 4.pdf
/Assignment 5.pdf
/Assignment 6 (1).pdf
/Assignment 6.pdf
/Assignment 7 (1).pdf
/Assignment 7.pdf
/Bernheim_Handbook.pdf
/Big Retailer Financial Analysis - Completed.xlsx
/Bikeshare Data
/Blau-ChildCareCostsFamily-1988.pdf
/Budgeting & Forecasting Assessment-Questions(1).xlsx
/Budgeting & Forecasting Assessment-Questions.xlsx
/Business Valuation Exercises (Complete)(1).xlsx
/Business Valuation Exercises (Complete).pdf
/Business Valuation Exercises (Complete).xlsx
/Business Valuation Model (Complete)(1).xlsx
/Business Valuation Model (Complete).pdf
/Business Valuation Model (Complete).xlsx
/Business Valuation Qualified Assessment Support (Template) (2).xlsx
/C:\Users\dmessacar\Documents\Research\daycare_subsidy\Data\LFS_cleaned.dta
/CFI Excel Keyboard Shortcuts.pdf
/CFI Financial Modeling Guidelines.pdf
/CFI Modeling Guidelines (2022).pdf
/CHARTstyleguide_20170505.pdf
/CIS Data
/CIS%202017%20-%20PUMF%20Data%20dictionary.pdf
/CIS%202019%20-%20PUMF%20Data%20dictionary.pdf
/CIS%202021%20-%20PUMF%20Data%20dictionary.pdf
/CIS-72M0003-E-2015_F1.csv
/CIS-72M0003-E-2016_F1.csv
/CIS-72M0003-E-2017_F1.csv
/CIS-72M0003-E-2017_F1.dta
/CIS-72M0003-E-2017_F1.missRecode
/CIS-72M0003-E-2018_F1.csv
/CIS2013_PUMF_Cdbk_E.pdf
/CIS2016_PUMF_Cdbk_E.pdf.pdf
/CIS2019_PUMF.txt
/CSELCC_2023_PUMF_Cdbk.pdf
/CSV-eng
/CSV-eng.zip
/CV_Ian_Scott-2.pdf
/CV_Ian_Scott.pdf
/CWELCC Reform Dates_SPIM.docx
/Case Study A (Template).xlsx
/Case Study B (Template).xlsx
/CausalML_book.pdf
/CertificateOfCompletion_Anaconda Python for Data Science Professional Certificate.pdf
/CertificateOfCompletion_CFI Corporate Finance Foundations Professional Certificate.pdf
/CertificateOfCompletion_Tableau Essential Training-2.pdf
/CertificateOfCompletion_Tableau Essential Training.pdf
/Chargers.R
/Cod_Mort.dta
/Commentary_631.pdf
/Comps - Qualified Assessment (Template).xlsx
/Coursera.pdf
/CoverLetter_Ian_Scott.pdf
/Cover_Letter_Ian_Scott-2.pdf
/Cover_Letter_Ian_Scott-3.pdf
/Cover_Letter_Ian_Scott.pdf
/Cover_Letter__Ian_Scott.pdf
/DCF - Qualified Assessment (Template).xlsx
/DCF Valuation Course Slides.pdf
/DCF Valuation Model (Complete).xlsx
/Daniel Questions.pdf
/Data Combination.do
/Defying-Gravity.pdf
/ECON 4999
/ECON450Notes.pdf
/ECON852_Ass1.pdf
/EIE-davidson-mackinnon-2021 2.pdf
/EIE-davidson-mackinnon-2021.pdf
/ESLII_print12_toc.pdf
/ETM-davidson-mackinnon-2021 2.pdf
/ETM-davidson-mackinnon-2021-2.pdf
/ETM-davidson-mackinnon-2021.pdf
/Econ Memes.pdf
/Econ840.hw2.fall2024.docx
/Econ845_Syllabus_Fall2024.pdf
/Econ_810_Study_Guide.docx
/Econometrics_by_Bruce_Hansen.pdf
/Economic Inquiry - 2023 - Deng - High%E2%80%90stakes examinations and educational inequality  Evidence from transitory exposure to.pdf
/Essay_Ian_Scott.pdf
/Evidence-Based_Association_of_.pdf
/Ex_Files_Tableau_Essential_Training
/Ex_Files_Tableau_Essential_Training.zip
/FP&A Budgeting and Forecasting Model (Complete).pdf
/FP&A Budgeting and Forecasting Model (Template).xlsx
/FP&A for New Analysts - Course Presentation.pdf
/Financial Analysis Assessment Template.xlsx
/Firefox 129.0.2.dmg
/Firefox 133.0.3.dmg
/GRkXqNzWsAA1WFe.png
/Government funding and tuition increases at Memorial University.docx
/HR_Employee_Data.xlsx
/Hamermesh-CraftLabormetrics-2000.pdf
/Hayden Questions.pdf
/Heckman-EffectsChildCarePrograms-1974.pdf
/IMG_3875.HEIC
/IMG_3876.HEIC
/IMG_6937.jpeg
/IMG_6938 (1).jpeg
/IMG_6938.jpeg
/IMG_8595.JPG
/IMG_9044.HEIC
/IMG_9045.HEIC
/IMG_9056.HEIC
/IMG_9057.HEIC
/IMG_9061.HEIC
/IMG_9063.HEIC
/IMG_9064.HEIC
/IMG_9294.HEIC
/IMG_9295.HEIC
/IMG_9457.HEIC
/INA-31-405.pdf
/INA-32-0-2.pdf
/INA-32-0.pdf
/ISLRv2_corrected_June_2023-1.pdf
/ISLRv2_corrected_June_2023-2.pdf
/ISLRv2_corrected_June_2023.pdf
/IV.do
/Ian Scott.docx
/Ian_Scott_Cover_Letter.pdf
/Ian_Scott_Resume-2.docx
/Ian_Scott_Resume-2.pdf
/Ian_Scott_Resume.docx
/Ian_Scott_Resume.pdf
/Ian_Scott_Resume_.docx
/Indeed.pdf
/Indoor Air - 2010 - Haverinen%E2%80%90Shaughnessy - Association between substandard classroom ventilation rates and students .pdf
/Intro to 3-Statement Modeling Model (Complete).pdf
/Intro to 3-Statement Modeling Model (Complete).xlsx
/Introduction to 3 Statement Modeling - Course Presentation.pdf
/Introduction to Business Valuation Course Slides.pdf
/Job Finding Rate.csv
/Journal of School Health - 2014 - Gaihre - Classroom Carbon Dioxide Concentration  School Attendance  and Educational.pdf
/KNN_LOOCV.R
/Keurig Dr Pepper Fiscal 2023 10-K.pdf
/L1_intro_slides_845(1).pdf
/L1_intro_slides_845.pdf
/LFS_Data
/LFS_PUMF_EPA_FGMD_codebook(1).csv
/LFS_PUMF_EPA_FGMD_codebook.csv
/Lasso.Rmd
/Lasso.pdf
/Linkedin.pdf
/Lit_and_save.xlsx
/LogiMgr Installer 10.20.4.app
/MA Paper Ideas
/MA_Handbook_July2024.pdf
/MUGS Bank Note.pdf
/MUN Maroon Theme.pptx
/MUN Summer RA
/MUNUnofficialTranscript.pdf
/MUN_Transcript_Ian_Scott.pdf
/MacKinlay-EventStudiesEconomics-1997.pdf
/Macro.xlsx
/Markdown_tutorial_1.Rmd
/Math_Review__Days_1___3_.pdf
/Math_Review__Days_1___4_.pdf
/Math_Review__Days_1_and_2_.pdf
/Mid Retailer Financial Analysis - Completed.xlsx
/Neoliberalism as concept.pdf
/Net-Zero_-_Electric_Vehicles__Oct_10,_2024_.pdf
/OECD,DF_EAG_ENRL_MOBILES_FIELDS,+all.csv
/Operational Modeling (Complete).pdf
/Operational Modeling (Complete).xlsx
/Operational Modeling - Course Slides.pdf
/Operational Modeling Qualified Assessment (Template).xlsx
/PUMF National Model #2.1.do
/PUMF National Model Results V.2.docx
/PUMF%20-%20CIS%202018%20-%20with%20freqs_E.pdf
/PowerPoint & Pitchbook Course Presentation.pdf
/Practice Case Study A (Template).xlsx
/Practice Case Study B (Template).xlsx
/ProQuestDocuments-2024-05-22.pdf
/Profile-2.pdf
/Profile.pdf
/PythonClass
/Q7C.do
/QueensU_Transcript_Ian_Scott.pdf
/Queens_Transcript_Ian_Scott.pdf
/R-intro.pdf
/RDC-proposal-EN 2.rtf
/RDC-proposal-EN(1).rtf
/RDC-proposal-EN.rtf
/Reading Financial Statements - Course Slides.pdf
/Research Comp.pptx
/Research Paper - International Student Work Hours Cap.docx
/Research proposal.docx
/Resources
/Resume Stuff
/Resume.pdf
/Resume_Ian_Scott-2.pdf
/Resume_Ian_Scott-3.pdf
/Resume_Ian_Scott-4.pdf
/Resume_Ian_Scott.pdf
/Rocky funding on the rock.docx
/Scenario and Sensitivity Model Questions.xlsx
/Scott, Ian - ECON 4999.docx
/Sensitivity Analysis Course Presentation.pdf
/Sensitivity Model - Complete.xlsx
/Shier-Ambientairpollution-2019.pdf
/Signed Rental Agreement 63 West St. 4.pdf
/Small Retailer Financial Analysis - Completed.xlsx
/Starbucks Fiscal 2023 10-K.pdf
/StatistialTables.pdf
/Study_Guide_Metrics.pdf
/TA Form_Scott_Signed.pdf
/TA_Form_Ian_Scott.pdf
/The-Effects-of-Air-Pollution-on-Educational-Outcomes-Evidence-from-Chile.pdf
/The_short-term_impact_of_urban.pdf
/Topic 1.do
/Topic 2B.do
/Topic2
/Topic2.zip
/Trading Comps (Complete).xlsx
/Transaction Comps (Complete).xlsx
/Transcript_Ian_Scott.pdf
/Treats.xlsx
/Tutorial 1.py
/Tutorial 2.R
/Tutorial 2.py
/Tutorial 3.R
/Tutorial 3.py
/Tutorial_Final.pdf
/Unknown
/Unknown.pdf
/Untitled design.PNG
/Untitled.do
/Visual Studio Code.app
/W14_Anselin2007.pdf
/Wildfire smoke exposure worsens students_ learning outcomes.PDF
/algorithm 1.do
/algorithm 2.do
/algorithm 3.do
/algorithm 4.do
/algorithm 5.do
/algorithm 6.do
/algorithm 7.do
/alt_fuel_stations (Oct 22 2024).csv
/alt_fuel_stations (Oct 24 2024).csv
/ambient_air_pollution_associated_with_lower.4.pdf
/ass1_2024.pdf
/ass1data.dta
/ass1des.pdf
/ass2_2024.pdf
/ass3-2.pdf
/ass3-3.pdf
/ass3-4.pdf
/ass3-5.pdf
/ass3.pdf
/ass4.pdf
/c26-e.pdf
/choose-your-microsoft-credential.pdf
/cis-5200-E-2012_F1.csv
/cis-5200-E-2013_F1.csv
/cis-5200-E-2014_F1.csv
/cis_2018_en.dta
/cons.pdf
/coordinates.csv
/crowdout.dta
/crowdout2.dta
/dataverse_files
/dataverse_files 2
/dataverse_files-10
/dataverse_files-11
/dataverse_files-2
/dataverse_files-3
/dataverse_files-4
/dataverse_files-5
/dataverse_files-6
/dataverse_files-7
/dataverse_files-8
/dataverse_files-9
/delta.pdf
/diminished data.dta
/dq231205a-eng.pdf
/ebay-label-d61f48b0-e26a-4f78-877e-a4d3342813fd.pdf
/ec850-slides-2024-03.pdf
/ec882-slides-2025-02.pdf
/ec882-slides-2025-03.pdf
/econ810_fall2022_midterm.pdf
/econ810_fall2022_midterm_solns.pdf
/econ810_fall2023_midterm.pdf
/econ810_fall2024_ass1a.pdf
/econ840 empirical problem set.pdf
/economiepublique-3376.pdf
/ee_2021_10_01_schwartzv_ee-d-21-00045_sdc1.docx
/extrapractice.pdf
/failed.do
/fce46564-6531-495f-bae9-a5d4783e71a4.jpg
/fertility graphs.xls
/first_half_2024.pdf
/geckodriver
/geckodriver-v0.35.0-macos.tar
/github-recovery-codes.txt
/github_PNG23.png
/healthcare-10-01974-v2.pdf
/igtSolutions.pdf
/ijerph-16-00429.pdf
/ijerph-19-00749.pdf
/image-3.png
/incomes.txt
/job_postings_by_sector_CA.csv
/keay-metcalf-2021-recognizing-indigenous-rights-in-canada-property-rights-and-natural-resource-values.pdf
/lalibert%C3%A9-2021-long-term-contextual-effects-in-education-schools-and-neighborhoods.pdf
/lect10-20.pdf
/lecture 16.pdf
/lecture-17-2.pdf
/lecture-17.pdf
/lfs-71M0001XCB-E-1992-april-rebased_F1.dta
/lfs-71M0001XCB-E-1992-august-rebased_F1.dta
/lfs-71M0001XCB-E-1992-december-rebased_F1.dta
/lfs-71M0001XCB-E-1992-february-rebased_F1.dta
/lfs-71M0001XCB-E-1992-february-rebased_F1.missRecode
/lfs-71M0001XCB-E-1992-january-rebased_F1.dta
/lfs-71M0001XCB-E-1992-july-rebased_F1.dta
/lfs-71M0001XCB-E-1992-june-rebased_F1.dta
/lfs-71M0001XCB-E-1992-march-rebased_F1.dta
/lfs-71M0001XCB-E-1992-may-rebased_F1.dta
/lfs-71M0001XCB-E-1992-november-rebased_F1.dta
/lfs-71M0001XCB-E-1992-october-rebased_F1.dta
/lfs-71M0001XCB-E-1992-september-rebased_F1.dta
/loginExtSuccess
/men2015b(1).csv
/men2015b.csv
/micro1991
/micro1992
/micro1992 2
/micro1992.zip
/new idea hehe.do
/nihms-969461.pdf
/null-066.2021.issue-001-en.pdf
/om_aerpp_0.pdf
/part2.pdf
/partic.dta
/pone.0136165.pdf
/posted-wage-growth-by-country.csv
/prac1asol.pdf
/prac2_2020.pdf
/praca1.pdf
/ps1.dta
/ps82.dta
/quantile_data.dta
/recrut_econometrics 2.pdf
/recrut_econometrics.pdf
/retirement
/retrieve-2.pdf
/retrieve-3.pdf
/retrieve.pdf
/s10834-012-9332-1.pdf
/s11150-009-9062-9.pdf
/s12940-017-0210-z.pdf
/s41893-022-00956-y.pdf
/s41937-017-0003-x.pdf
/sig-blk-en.svg
/slides_fall 2021_production.pdf
/slides_fall2021_GE.pdf
/slides_fall2021_gametheory1.pdf
/slides_gametheory2_v1.pdf
/slides_gametheory2_v2.pdf
/slides_uncertainty_v1.pdf
/slides_util_max_v1.pdf
/untitled folder
/w11832.pdf
/w18514-2.pdf
/w18514.pdf
/w32612.pdf
/x6f5e97r_1734650543652.pdf
/~$01-Parade-Order.docx
/~$2501 Training Schedule.xlsx
/~$HRC Draft Doc v.2-2.docx
/~$MF National Model Results V.2.docx
/~$MUGS Trivia 2021.pptx
/~$Macro.xlsx
/~$Myfile.doc
/~$Operational Modeling Qualified Assessment (Template).xlsx
/~$a1011-30_vienna.ppsx
/~$myreg.doc
/~$nd the Gap.docx
/~$ography 2102 Sessions #20-#21 highlights.docx